#menu {
	padding-top: 4em;
	padding-bottom: 5em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #f04f57;
	color: white;
	border-radius: 5px;
}

#menu-header {
	text-align: center;
}

.small-image {
	min-width: 50px;
	min-height: 50px;
	max-width: 100px;
	max-height: 100px;
	width: 25%;
	height: 25%;
}

.gray {
	background-color: #E3E3E3;
}

.center-text {
	text-align: center;
}

.center-block {
	margin: 0 auto;
	width: 60%;
	max-width: 800px;
}