#menu {
	margin-top: 7em;
	padding-top: 4em;
	padding-bottom: 5em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: coral;
	color: white;
	max-width: 300px;
}

#menu-header {
	text-align: center;
}

.gray {
	background-color: #E1E1E1;
}

.blue {
	background-color: lightblue;
}

.coral {
	background-color: coral;
}

.center-text {
	text-align: center;
}

.center-block {
	margin: 0 auto;
	width: 60%;
	max-width: 800px;
}